header {
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px #CCCCCC;
}
.logo {
	padding-left: 20px;
	width: 100px;
	height: 40px;
	background: url('../images/logo.png') no-repeat center;
}
